.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .container {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        width: 100%;
        max-width: 1440px;
        row-gap: 80px;
        transition: all .15s ease-in;

        @media (max-height: 600px) {
            & {
                row-gap: 10px;
            }
        }

        @media (max-width: 850px) {
            & {
                padding: 0;
                row-gap: 0;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 120px;
            transition: all .3s ease;

            .slider {
                display: none;
            }
            
            .left {
                display: flex;
                height: 100%;
            }

            .right {
                display: flex;
                justify-content: center;
                flex-direction: column;
                max-width: 400px;
                row-gap: 20px;
                height: 100%;

                .company {
                    color: var(--orange);
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 2px;
                }

                .description {
                    color: var(--dark-grayish-blue);
                }

                .buy {
                    display: flex;
                    justify-content: space-between;

                    .itemQuantity {
                        display: flex;
                        background-color: var(--light-grayish-blue);
                        overflow: hidden;

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 10px 15px;
                            font-size: 1rem;
                            font-weight: 700;
                            color: var(--orange);
                            background-color: var(--light-grayish-blue);
                            z-index: 2;
                        }
    
                        .quantity {
                            display: flex;
                            align-items: center;
                            color: var(--black);
                            padding: 10px 25px;
                            cursor: auto;
                        }
                    }

                    .addButton {
                        display: flex;
                        padding: 20px 50px;
                        background-color: var(--orange);
                        border-radius: 8px;
                        font-size: 1rem;
                        font-weight: 700;
                        color: var(--white);
                        column-gap: 20px;

                        @media (max-width: 400px) {
                            & {
                                column-gap: 10px;
                                padding: 20px 40px;
                            }
                        }
                    }

                    @media (max-width: 400px) {
                        & {
                            flex-direction: column;
                            align-items: center;
                            row-gap: 25px;

                            .itemQuantity {
                                width: 100%;

                                .quantity {
                                    justify-content: center;
                                    width: 100%;
                                }
                            }

                            .addButton {
                                width: 100%;
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            @media (max-width: 900px) {
                & {
                    column-gap: 60px;
                    padding: 0 0 40px 0;
                }
            }

            @media (max-width: 850px) {
                & {
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 30px;

                    .slider {
                        display: flex;
                        position: relative;
                        justify-content: center;
                        width: 400px;
                        height: 300px;
                    }

                    .left {
                        display: none;
                    }
                }
            }

            @media (max-width: 450px) {
                & {
                    .right {
                        padding: 0 10px;
                    }
                }
            }

            @media (max-width: 400px) {
                & {
                    .slider {
                        width: 100%;
                    }
                }
            }
        }
    }
}