.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .container {
        padding: 0 30px;
        width: 1440px;
        height: 100vh;

        .content {
            display: flex;
            justify-content: center;
            column-gap: 120px;
            height: calc(100% - 100px);  
            
            .left {
                display: flex;
                height: 100%;
            }

            .right {
                display: flex;
                justify-content: center;
                flex-direction: column;
                max-width: 400px;
                row-gap: 20px;
                height: 100%;

                .company {
                    color: var(--orange);
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 2px;
                }

                .description {
                    color: var(--dark-grayish-blue);
                }

                .buy {
                    display: flex;
                    justify-content: space-between;

                    .itemQuantity {
                        display: flex;
                        background-color: var(--light-grayish-blue);
                        overflow: hidden;

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 10px 15px;
                            font-size: 1rem;
                            font-weight: 700;
                            color: var(--orange);
                            background-color: var(--light-grayish-blue);
                            z-index: 2;
                        }
    
                        .quantity {
                            display: flex;
                            align-items: center;
                            color: var(--black);
                            padding: 10px 25px;
                            cursor: auto;
                        }
                    }

                    .addButton {
                        display: flex;
                        padding: 20px 50px;
                        background-color: var(--orange);
                        border-radius: 8px;
                        font-size: 1rem;
                        font-weight: 700;
                        color: var(--white);
                        column-gap: 20px;
                    }
                }
            }
        }
    }
}