.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    row-gap: 30px;

    .mainImage {
        display: flex;

        img {
            width: 320px;
            height: 320px;
            background-color: var(--orange);
            border-radius: 15px;
        }
    }

    .otherImages {
        display: flex;
        column-gap: 20px;

        button {
            width: 65px;
            height: 65px;
            border-radius: 10px;
            border: 2px solid transparent;
            overflow: hidden;
            transition: all .15s linear;

            &:hover {
                img {
                    filter: opacity(0.6);
                } 
            }

            img {
                width: 65px;
                height: 65px;
                object-fit: contain;
            }
        }
    }
}